# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: A workflow to validate PRs

on:
  pull_request:
    branches: [ Bahmni-IPD-master ]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 18.x
      uses: actions/setup-node@v4
      with:
        node-version: '18.x'
        cache: 'npm'
    - run: npm install
    - run: NODE_OPTIONS="--openssl-legacy-provider" npm test
    - run: NODE_OPTIONS="--openssl-legacy-provider" npm run build
